@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #d2d8de;
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b;
    padding-top: 10px;
}
section.loginForm  {
    padding: 40px 15px;
    width: 600px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.loginForm  h2{
    width: 100%;
    padding-bottom: 15px;
}

.loginForm  input{
    display: inline-block;
    width: 60%;
    margin-bottom: 15px;
    border: 2px solid #3867fa;
    border-radius: 10px;
}

.loginForm  input:focus{
    outline: none;
    color: #fff;
    background-color: #3a3a3a;
}

.loginForm label{
    padding-left: 40px;
    display: inline-block;
    width: 28%;
}

.loginForm  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loginForm  button {
    margin: 0 auto 20px auto;
    width: 100px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: #3867fa;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.loginForm  button:hover {
    background-color: #3a3a3a;
}

.loginForm .messages {
    display:none;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    background-color: #f3f5fb;
}
